<app-header></app-header>
<app-footer></app-footer>
<app-product></app-product>

<button (click)="viewItems()" >Display</button>

<div *ngIf="isClicked;  then Show ">
</div>
<ng-template #Show>
    <h2>
        <table>
            <thead>
                <tr >
                    <th >ID</th>
                    <th >Name</th>
                    <th >Quantity</th>
                    <th >Price</th>
                    <th>img</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of productsList ">
                    <td>{{product.ID}}</td>
                    <td>{{product.Name}}</td>
                    <td>{{product.Quantity}}</td>
                    <td>{{product.Price}}</td>
                    <td>{{product.img}}</td>
                </tr>
        
            </tbody>
        </table>
    </h2>
</ng-template>